footer {
  margin: 0 auto;
  width: 90%;
}

.footer-content {
  padding-top: 20px;
  &_list {
    display: flex;
    list-style: none;
    &__item {
      list-style-type: none;
      &_text {
        @include text($--color-primary-4, 13px, bold);
        text-decoration: none;
        padding: 0px 7px;
      }
    }
  }
}

.footer-text {
  display: flex;
  padding-top: 10px;
  &_item {
    @include text($--color-primary-5, 13px, bold);
  }
}