header {
  border-bottom: 1px solid $--color-primary-2;
}
    
.header {
  height: 54px;
  @include flexbox(flex, row, space-around, none, center);
  &_logo {
    @include flexbox(flex, row, center, 1, none);
  }
  &_search {
    @include flexbox(flex,row, center, 1, none);
    @include width575px {
      display: none;   
    }
    &__input {
      text-align: center;
      width: 225px;
      height: 28px;
      font-size: 16px;   
      background-color: $--color-primary-1;
      border: 1px solid $--color-primary-2;  
      border-radius: 3px; 
      outline: none;  
      @include width767px {
        width: 190px;
      }
      &:focus {
        text-align: start;
      }
    }
  }
  &_links {
    @include flexbox(flex, row, none, 1, center);
    margin-left: calc(5% - 10px);
    &__main_photo {
      width: 25px;
      border-radius: 50%;
      border: 1px solid $--color-primary-3;
      padding: 2px;
    }
    &__item {
      margin-right: 32px;
      @include width991px {
        margin-right: 25px;
      }
      @include width767px {
        margin-right: 16px;
      }
      @include width575px {
        margin-right: 12px;
      }
      i {
      font-size: 23px;
      @include width767px {
        font-size: 18px;
        }
      }
      &__main_page {
        text-decoration: none;
        color: $--color-primary-6;
      }
    }   
  }     
}