.container_forSettings {
  margin: 0 auto;
  width: 70%;
}

.edit-profile {
  display: flex;
  margin-top: 40px;
  border: 1px solid $--color-primary-2;
  &_left__content {
    @include flexboxSettings(flex, 1, none);
    border-right: 1px solid $--color-primary-2;
    &_list {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      list-style: none;
      &__item {
        display: flex;
        border-left: 2px solid transparent;
        width: 99%;
        &:hover {
          background-color: $--color-primary-1;
          border-left: 2px solid $--color-primary-6;
        } 
        &_link {
          padding: 17px;
          font-size: 18px;
          text-decoration: none;
          color: $--color-primary-6;
          width: 100%;
        }
      }
    }
  }
  &_right__content {
    display: flex;
    flex-direction: column;
    padding: 25px;
    flex: 3;
    &_photo {
      @include flexboxSettings(flex, none, center);
      &__avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
      }
      &__text {
        display: flex;
        flex-direction: column;
        padding: 0px 25px;
        width: 350px;
      &_nickname {
        font-size: 25px;
      }
      &_edit {
        text-decoration: none;
        color: $--color-primary-8;
        font-weight: bold;
      }
      }
    }
    &_section {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      &__name {
        @include flexboxSettings(flex, none, flex-start);
        flex-direction: row;
        &_bold {
         
        }
        &_col {
          display: flex;
          flex-direction: column;
          &__input {
            margin-bottom: 10px;
            @include input(350px, 7px 10px, 1px solid #d1d1d1, 3px, 15px);
          }
          &__firstText {
            font-size: 14px;
            color: $--color-primary-5;
          }
          &__secondText {
            font-size: 14px;
            color: $--color-primary-5;
            padding-top: 5px;
          }
        }
      }
      &__nickname {
        display: flex;
        padding-top: 20px;
        &_bold {
        }
        &_col {
          display: flex;
          flex-direction: column;
          &__input {
            @include input(350px, 7px 10px, 1px solid #d1d1d1, 3px, 15px);
            margin-bottom: 10px;
            font-weight: bold;
          }
          &__text {
            font-size: 14px;
            color: $--color-primary-5;
            &_link {
              text-decoration: none;
              color: $--color-primary-8;
              font-size: 14px;
            }
          }
        }
      }
      &__website {
        @include flexboxSettings(flex, none, center);
        margin-top: 30px;
        &_row {
          &__input {
            @include input(350px, 7px 10px, 1px solid #d1d1d1, 3px, 15px);
          }
        }
      }
      &__about {
        display: flex;
        margin-top: 15px;
        &_col {
          display: flex;
          flex-direction: column;
          &__forText {
            @include input(350px, 7px 10px, 1px solid #d1d1d1, 3px, none);
          }
          &__text {
            font-size: 14px;
            color: $--color-primary-5;
            padding-top: 30px;
            b {
              font-size: 16px;
            }
          }
        }
      }
      &__e-mail {
        display: flex;
        margin-top: 15px;
        &_input {
          @include input(350px, 7px 10px, 1px solid #d1d1d1, 3px, 15px);
        }
      }
      &__phone-number {
        display: flex;
        margin-top: 15px;
        &_input {
          @include input(350px, 7px 10px, 1px solid #d1d1d1, 3px, 15px);
        }
      }
      &__sex {
        @include flexboxSettings(flex, none, center);
        margin-top: 15px;
        &_input {
          @include input(350px, 7px 10px, 1px solid #d1d1d1, 3px, 15px);
        }
      }
      &__recommend {
        @include flexboxSettings(flex, none, center);
        margin-top: 15px;
        &_row {
          display: flex;
          justify-content: flex-start;
          width: 350px;
          &__checked {
            display: flex;
            justify-content: center;
            align-self: center;
          }
          &__text {
            font-size: 14px;
            font-weight: bold;
            padding: 7px;
          }
        }
      }
      &__send {
        @include flexboxSettings(flex, none, center);
        margin-top: 30px;
        &_null {
          display: flex;
          flex: 3;
        }
        &_button {
          @include flexboxSettings(flex, 1, none);
          color: $--color-primary-9;
          background-color: $--color-primary-8;
          border: none;
          padding: 7px;
          border-radius: 4px;
          font-weight: bold;
          margin-right: 15px;
        }
        &_text {
          @include flexboxSettings(flex, 8, center);
          justify-content: center;
          text-decoration: none;
          color: $--color-primary-8;
          font-weight: bold;
        }
      }
    }
  }
}

.label_for_input {
  @include flexboxSettings(flex, 0.7, none);
}