.container_forSettings {
  margin: 0 auto;
  width: 70%;
}

.edit-profile {
  display: flex;
  margin-top: 40px;
  border: 1px solid $--color-primary-2;
  flex: 1;
  &_left__content {
    @include flexboxSettings(flex, 1, none);
    border-right: 1px solid $--color-primary-2;
    &_list {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      list-style: none;
      &__item {
        display: flex;
        border-left: 2px solid transparent;
        width: 99%;
        &:hover {
          background-color: $--color-primary-1;
          border-left: 2px solid $--color-primary-6;
        } 
        &_link {
          padding: 17px;
          font-size: 18px;
          text-decoration: none;
          color: $--color-primary-6;
          width: 100%;
        }
      }
    }
  }
  &_right__content {
    flex: 3;
    margin-top: 30px;
    &_column {
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;
      &__avatar {
        display: flex;
        justify-content: flex-end;
        margin-right: 25px;
        flex: 1;
        &_img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
        }
      }
      &__edit_photo {
        display: flex;
        flex-direction: column;
        flex: 3;
        &__text {
          font-size: 20px;
          font-weight: 200;
        }
        &__link {
          text-decoration: none;
          color: $--color-primary-8;
          font-weight: bold;
          font-size: 15px;
        }
      }
      &__info {
        display: flex;
        flex: 3;
        margin-left: 25px;
        &_content {
          display: flex; 
          flex: 0.75;
          flex-direction: column;
          &_input {
            display: flex;
            flex-direction: row;
            border-radius: 3px;
            border: 1px solid $--color-primary-2;
            padding: 6px 10px;
            font-size: 15px;
          }
          &_text1 {
            font-size: 14px;
            color: $--color-primary-5;
            margin-top: 10px;
            & b {
              font-size: 16px;
            }
            &__link {
              text-decoration: none;
              color: $--color-primary-8;
            }
          }
          &_text2 {
            font-size: 14px;
            color: $--color-primary-5;
            margin-top: 10px;
          }
          &_textarea {
            border-radius: 3px;
            border: 1px solid $--color-primary-2;
            resize: vertical;
            height: 60px;
          }
        }
      }
    }
  }
}

.label_for_input {
  @include flexboxSettings(flex, 1, none);
  justify-content: flex-end;
  &__text {
    font-size: 18px;
    font-weight: 700;
    text-align: right;
  }
}