<div class="edit-profile_left__content">
  <ul class="edit-profile_left__content_list">
    <li class="edit-profile_left__content_list__item">
      <a class="edit-profile_left__content_list__item_link" href="#"><b>Редактировать профиль</b></a>
    </li>
    <li class="edit-profile_left__content_list__item">
      <a class="edit-profile_left__content_list__item_link" href="#">Сменить пароль</a>
    </li>
    <li class="edit-profile_left__content_list__item">
      <a class="edit-profile_left__content_list__item_link" href="#">Приложения и сайты</a>
    </li>
    <li class="edit-profile_left__content_list__item">
      <a class="edit-profile_left__content_list__item_link" href="#">Эл. почта и SMS</a>
    </li>
    <li class="edit-profile_left__content_list__item">
      <a class="edit-profile_left__content_list__item_link" href="#">Push-уведомления</a>
    </li>
    <li class="edit-profile_left__content_list__item">
      <a class="edit-profile_left__content_list__item_link" href="#">Управление контактами</a>
    </li>
    <li class="edit-profile_left__content_list__item">
      <a class="edit-profile_left__content_list__item_link" href="#">Конфиденциальность и безопасность</a>
    </li>
    <li class="edit-profile_left__content_list__item">
      <a class="edit-profile_left__content_list__item_link" href="#">Входы в аккаунт</a>
    </li>
    <li class="edit-profile_left__content_list__item">
      <a class="edit-profile_left__content_list__item_link" href="#">Электронные письма от Instagram</a>
    </li>
  </ul>
</div>