<header>
  <div class="container">
    <div class="header">
      <div class="header_logo">
        <img src="./img/735145cfe0a4.png" alt="logo">
      </div>
       <div class="header_search">
         <input class="header_search__input" type="text" placeholder="&#x1f50d; Пошук" >
       </div>
     <div class="header_links">
        <div class="header_links__item"> 
          <i class="fas fa-home"></i>
        </div>
        <div class="header_links__item">
          <i class="far fa-paper-plane"></i>
        </div>
        <div class="header_links__item">
          <i class="far fa-compass"></i>
        </div>
        <div class="header_links__item">
          <i class="far fa-heart"></i>
        </div>
        <div>
          <img class="header_links__main_photo" src="./img/photo_2020-10-14_13-20-09.jpg" alt="main_photo">
        </div>
      </div>
    </div>
  </div>
</header>