@mixin text($color, $size, $weight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
}

@mixin flexbox($flex, $row:row, $contentx:none, $number:none, $contenty:none) {
    display: $flex;
    flex-direction: $row;
    justify-content: $contentx;
    flex: $number;
    align-items: $contenty;
}

@mixin flexnone($flex:none, $number:none) {
    display: $flex;
    flex: $number;
}