@mixin text($color, $size, $weight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
}

@mixin flexbox($flex, $row:row, $contentx:none, $number:none, $contenty:none) {
    display: $flex;
    flex-direction: $row;
    justify-content: $contentx;
    flex: $number;
    align-items: $contenty;
}

@mixin input($width, $padding, $border, $radius, $size) {
    width: $width;
    padding: $padding;
    border: $border;
    border-radius: $radius;
    font-size: $size;
}

@mixin flexboxSettings($display, $flex, $align) {
    display: $display;
    flex: $flex;
    align-items: $align;
}