//background
$--color-primary-1:#f2f2f2;

//borders
$--color-primary-2:#d1d1d1;
$--color-primary-3:black;

//footer 
$--color-primary-4:#004b7d;
$--color-primary-5:#999999;

//main_forMobile 
$--color-primary-6:black;